@use "mixins" as media;

.pagination {
  position: absolute;
  bottom: 76px;
  padding: 0;
}

.table {
  ::ng-deep {
    .p-datatable-table-container {
      @include media.media-mobile-sm {
        max-height: calc(-376px + 100vh) !important;
        overflow: auto;
      }
    }
  }
  ::ng-deep {
    .p-paginator-rpp-dropdown {
      @include media.media-mobile-sm {
        display: none;
      }
    }
    ::ng-deep {
        .p-paginator-last {
          @include media.media-mobile-sm {
          display: none;
        }
      }
    }
    ::ng-deep {
      .p-paginator-first {
        @include media.media-mobile-sm {
          display: none;
        }
      }
    }

  }

  &__actions-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    @include media.media-mobile-sm {
      flex-direction: column;
      gap: 4px;
    }
  }
}

.modal {
  &__delete {
    max-width: 300px;
    margin-bottom: 20px;
  }
  &__button-wrapper {
    display: flex;
    justify-content: end;
    gap: 6px;
  }
}
