<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__buttons-wrapper wrapper_m">
        <button class="button-text">
          <img src="assets/icons/person.svg" alt="person" />
          Войти
        </button>
        <button class="button-primary button-primary_filled">
          Новое объявление
          <img src="assets/icons/plus.svg" alt="plus" />
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="wrapper_m">
        <h3>Доска объявлений</h3>
        <div class="header__bottom-wrapper wrapper_s">
          <button class="button-primary button-primary_outline">
            <img src="assets/icons/list-nested.svg" alt="list" />
            Все категории
          </button>
          <div class="header__input-wrapper">
            <input
              class="header__input input input_s"
              type="text"
              placeholder="Поиск по объявлениям"
            />
            <button
              class="header__button-search button-primary button-primary_filled"
            >
              Найти
              <img src="assets/icons/search.svg" alt="search" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
