<header>
  <div class="header-top">
    <div class="container">
      <div class="header-top__buttons-wrapper">
        <p-button label="Войти" severity="primary" variant="text" icon="pi pi-user" class="header-top__button-login"/>
        <p-button label="Новое объявление" icon="pi pi-plus" iconPos="right" class="header-top__button-add"/>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__content">
        <h3>Доска объявлений</h3>
        <div class="header-bottom__wrapper">
          <div class="header-bottom__input-wrapper">
            <input type="text" placeholder="Поиск по объявлениям"
                   class="header-bottom__input input input_s"
            />
            <p-button label="Найти" icon="pi pi-search" iconPos="right" size="large" class="header-bottom__search"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
