@if (isAdvertEdit) {
  <app-advert-form [(isEdit)]="isAdvertEdit" />
} @else {
  @if (advertLoading()) {
    <div class="loader-wrapper">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  } @else {
    <div class="advert">
      @if (
        userId === advertDetailStoreService.advertDetail()?.user?.createdById
      ) {
        <div class="advert__wrapper-button-action">
          <p-button
            label="Удалить"
            severity="danger"
            icon="pi pi-trash"
            iconPos="right"
            (click)="deleteAdvert()"
            size="small"
            [loading]="deleteLoading()"
          />
          <p-button
            label="Редактировать"
            (click)="editAdvert()"
            icon="pi pi-pencil"
            iconPos="right"
            size="small"
          />
        </div>
      }
      <div class="advert__detail">
        <div>
          <h3 class="advert__title">
            {{ advertDetailStoreService.advertDetail()?.advert?.title }}
          </h3>
          <div>
            <p-galleria
              [value]="galleryImages()"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'width: 100%, max-width': '856px' }"
              [numVisible]="5"
              [showThumbnails]="galleryImages().length > 1"
            >
              <ng-template #item let-item>
                <img [src]="item.itemImageSrc" style="width: 100%" />
              </ng-template>
              <ng-template #thumbnail let-item>
                <img
                  [src]="item.thumbnailImageSrc"
                  style="width: 112px; height: 84px"
                />
              </ng-template>
            </p-galleria>
          </div>
        </div>
        <div>
          <div class="advert__description">
            <h3 class="advert__price">
              {{
                advertDetailStoreService.advertDetail()?.advert?.price
                  | currency: "RUB" : "symbol-narrow" : "1.0-0"
              }}
            </h3>
            <p-button
              label="Показать номер телефона"
              icon="pi pi-phone"
              size="large"
              [disabled]="advertLoading()"
              class="advert__phone-button"
              (click)="openPhoneModal()"
            />
            <div class="advert__address-block">
              <h4>Адрес</h4>
              @if (advertLoading()) {
                <p-skeleton width="10rem" class="mb-2" />
              } @else {
                <div>
                  <div class="advert__address-description">
                    {{
                      advertDetailStoreService.advertDetail()?.advert?.location
                    }}
                  </div>
                </div>
              }
            </div>
            <div class="advert__description-block">
              <h4>Описание</h4>
              @if (advertLoading()) {
                <p-skeleton width="10rem" class="mb-2" />
              } @else {
                <div class="advert__description-text">
                  {{
                    advertDetailStoreService.advertDetail()?.advert?.description
                  }}
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>Комментарии</h4>
      <app-comment-tree
        [nodes]="advertDetailStoreService.advertComments()"
        [(activeEditId)]="activeEditId"
        [(activeReplyId)]="activeReplyId"
      />
      <form
        [formGroup]="createCommentForm"
        (ngSubmit)="submitCreateComment()"
        class="advert__comment-input-form"
      >
        <input
          type="text"
          pInputText
          placeholder="Введите комментарий"
          formControlName="createComment"
        />
        <p-button
          icon="pi pi-send"
          type="submit"
          [loading]="createCommentLoading()"
        />
      </form>
    </div>
  }

  <app-modal
    [(visible)]="isPhoneModalOpen"
    header="{{ advertDetailStoreService.advertDetail()?.user?.name }}"
    position="center"
  >
    <h3 class="phone-modal__phone">
      {{ advertDetailStoreService.advertDetail()?.user?.phone || "" | phone }}
    </h3>
    <div class="phone-modal__content">
      <div>Правила безопасных сделок</div>
      <ul class="phone-modal__item">
        <li>Храните в тайне почту, данные паспорта и банковской карты</li>
        <li>Игнорируйте ссылки на оплату, которые присылает собеседник</li>
        <li>Никому не говорите коды из смс и пуш-уведомлений</li>
      </ul>
    </div>
  </app-modal>
}
