footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--default);
  color: var(--base-white);

  .wrapper {
    display: flex;
    width: 320px;
    justify-content: space-between;

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;
    }

    &__link {
      color: var(--base-white);
      text-decoration: none;
      opacity: 0.4;
      transition: opacity 0.4s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
