@if (authMod() === 'login') {
  <ng-container *ngTemplateOutlet="loginTemplate"/>
} @else {
  <ng-container *ngTemplateOutlet="registerTemplate"/>
}

<ng-template #loginTemplate>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="auth-form">
      <div class="auth-form__header">
        <h4>Авторизация</h4>
        <p-button icon="pi pi-times" variant="text" severity="secondary" (onClick)="popover.hide()"/>
      </div>
      <div class="auth-form__inputs">
        <div class="auth-form__inputs-wrapper">
          <input type="text" pInputText formControlName="login" placeholder="Логин">
          @if (loginForm.get('login')?.invalid && (loginForm.get('login')?.touched || loginForm.get('login')?.dirty)) {
            @if (loginForm.get('login')?.hasError('required')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Обязательное поле!
              </p-message>
            }
            @if (loginForm.get('login')?.hasError?.('minlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Минимальная длинна 4 символа!
              </p-message>
            }
            @if (loginForm.get('login')?.hasError?.('maxlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Маскимальная длинна 64 символа!
              </p-message>
            }
          }
        </div>
        <div class="auth-form__inputs-wrapper">
          <p-password formControlName="password" placeholder="Пароль" [toggleMask]="true" [feedback]="false"/>
          @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)) {
            @if (loginForm.get('password')?.hasError('required')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Обязательное поле!
              </p-message>
            }
            @if (loginForm.get('password')?.hasError?.('minlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Минимальная длинна 8 символа!
              </p-message>
            }
            @if (loginForm.get('password')?.hasError?.('maxlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Маскимальная длинна 50 символа!
              </p-message>
            }
          }
        </div>
      </div>
      <p-button label="Войти" type="submit" class="auth-form__submit-button" [disabled]="loginForm.invalid"
                [loading]="isLoading()"/>
    </div>
    <p-divider/>
    <p-button label="Регистрация" variant="text" severity="secondary" (onClick)="changeAuthMod()"/>
  </form>
</ng-template>

<ng-template #registerTemplate>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="auth-form">
      <div class="auth-form__header">
        <h4>Регистрация</h4>
        <p-button icon="pi pi-times" variant="text" severity="secondary" (onClick)="popover.hide()"/>
      </div>
      <div class="auth-form__inputs">
        <div class="auth-form__inputs-wrapper">
          <input type="text" pInputText formControlName="name" placeholder="Имя">
          @if (registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)) {
            @if (registerForm.get('name')?.hasError('required')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Обязательное поле!
              </p-message>
            }
            @if (registerForm.get('name')?.hasError?.('minlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Минимальная длинна 4 символа!
              </p-message>
            }
            @if (registerForm.get('name')?.hasError?.('maxlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Маскимальная длинна 64 символа!
              </p-message>
            }
          }
        </div>
        <div class="auth-form__inputs-wrapper">
          <input type="text" pInputText formControlName="login" placeholder="Логин">
          @if (registerForm.get('login')?.invalid && (registerForm.get('login')?.touched || registerForm.get('login')?.dirty)) {
            @if (registerForm.get('login')?.hasError('required')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Обязательное поле!
              </p-message>
            }
            @if (registerForm.get('login')?.hasError?.('minlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Минимальная длинна 4 символа!
              </p-message>
            }
            @if (registerForm.get('login')?.hasError?.('maxlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Маскимальная длинна 64 символа!
              </p-message>
            }
          }
        </div>
        <div class="auth-form__inputs-wrapper">
          <p-password formControlName="password" placeholder="Пароль" [toggleMask]="true" [feedback]="false"/>
          @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)) {
            @if (registerForm.get('password')?.hasError('required')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Обязательное поле!
              </p-message>
            }
            @if (registerForm.get('password')?.hasError?.('minlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Минимальная длинна 8 символа!
              </p-message>
            }
            @if (registerForm.get('password')?.hasError?.('maxlength')) {
              <p-message severity="error" variant="simple" size="small" class="auth-form__error-message">
                Маскимальная длинна 50 символа!
              </p-message>
            }
          }
        </div>
      </div>
      <p-button label="Зарегистрироваться" type="submit" class="auth-form__submit-button"
                [disabled]="registerForm.invalid"/>
    </div>
    <p-divider/>
    <p-button label="Войти" variant="text" severity="secondary" (onClick)="changeAuthMod()"/>
  </form>
</ng-template>
