<header>
  <div class="header-top">
    <div class="container">
      <div class="header-top__buttons-wrapper">
        @if (authorizationSate.getState()) {
          <p-button
            (click)="popoverSettings.toggle($event)"
            severity="primary"
            variant="text"
            class="header-top__button-login"
          >
            <ng-template pTemplate>
              <i class="pi pi-user"></i>
              <span>{{ userStore.getUser()?.name }}</span>
              <i class="pi pi-chevron-down"></i>
            </ng-template>
          </p-button>
          <p-button
            label="Новое объявление"
            icon="pi pi-plus"
            iconPos="right"
            class="header-top__button-add"
            routerLink="/new-advert"
          />
        } @else {
          <p-button
            (click)="isLoginModalOpen = true"
            label="Войти"
            severity="primary"
            variant="text"
            icon="pi pi-user"
            class="header-top__button-login"
          />
          <p-button
            (click)="isRegisterModalOpen = true"
            label="Зарегистрироваться"
            severity="primary"
            variant="text"
            icon="pi pi-user-plus"
            class="header-top__button-login"
          />
        }
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__content">
        <h3>Доска объявлений</h3>
        <app-advert-search />
      </div>
    </div>
  </div>
  <div class="container">
    @if (items?.length) {
      <p-breadcrumb [model]="items"></p-breadcrumb>
    } @else {
      <div style="height: 44px"></div>
    }
  </div>
</header>
<p-popover #popoverSettings>
  <div class="popover">
    <p-button
      label="Мои объявления"
      variant="text"
      severity="primary"
      routerLink="my-adverts"
    />
    <p-button
      label="Профиль"
      variant="text"
      severity="secondary"
      routerLink="profile"
    />
    <p-button
      label="Выйти"
      variant="text"
      severity="danger"
      (click)="onLogout()"
    />
  </div>
</p-popover>

<app-modal [(visible)]="isLoginModalOpen" header="Авторизация">
  <app-login-form (closeModal)="isLoginModalOpen = false" />
</app-modal>
<app-modal [(visible)]="isRegisterModalOpen" header="Регистрация">
  <app-register-form (closeModal)="isRegisterModalOpen = false" />
</app-modal>
