@use "mixins" as media;

header {
  .header-top {
    padding: 10px;
    background-color: var(--default);

    &__buttons-wrapper {
      display: flex;
      justify-content: end;
      gap: 24px;
    }

    ::ng-deep &__button-login {
      .p-button {
        color: var(--base-white);

        &:hover {
          color: var(--base-white);
          background: var(--blue-gray-500);
        }
      }
    }

    ::ng-deep &__button-add {
      .p-button-icon {
        font-size: 10px;
      }
    }
  }
  .header-bottom {
    width: 100%;
    padding: 24px 10px;
    border-bottom: 1px solid var(--blue-gray-200);
    background-color: var(--base-white);

    &__content {
      display: flex;
      gap: 24px;

      @include media.media-tablet-md {
        flex-direction: column;
      }
    }
  }
}

.popover {
  display: flex;
  flex-direction: column;
}

