<form [formGroup]="advertForm" (ngSubmit)="advertSubmit()">
  <div class="field">
    <label for="categoryId">
      Выберите категорию <span class="field_required">*</span>
    </label>
    <p-cascadeselect
      id="categoryId"
      [options]="Categories()"
      optionLabel="label"
      optionGroupLabel="label"
      [optionGroupChildren]="['items']"
      [style]="{ minWidth: '14rem' }"
      placeholder="Нажмите, чтобы выбрать"
      [(ngModel)]="selectedCategory"
      formControlName="categoryId"
      class="field__caregory"
    />
  </div>

  <div class="field">
    <label for="name">
      Название объявления <span class="field_required">*</span>
    </label>
    <input
      id="name"
      type="text"
      formControlName="name"
      pInputText
      placeholder="Что хотите продать?"
    />
  </div>

  <div class="field">
    <label for="description"> Описание </label>
    <textarea
      id="description"
      formControlName="description"
      pTextarea
      fluid
      class="field__description"
      placeholder="Расскажите подробнее о товаре или услуге"
    ></textarea>
  </div>
  <div class="field">
    <label for="location">
      Адрес (место проведения сделки) <span class="field_required">*</span>
    </label>
    <!--    <input-->
    <!--      id="location"-->
    <!--      type="text"-->
    <!--      pInputText-->
    <!--      formControlName="location"-->
    <!--      placeholder="Начните вводить адрес"-->
    <!--    />-->
    <p-autocomplete
      formControlName="location"
      (completeMethod)="search($event)"
      [suggestions]="suggestions()"
      placeholder="Начните вводить адрес"
    />
  </div>

  <div class="field__image">
    <p-fileupload
      name="images"
      (onSelect)="onSelect($event)"
      (onUpload)="onUpload($event)"
      [multiple]="true"
      chooseIcon="pi pi-images"
      chooseLabel="Добавить картинки"
      showUploadButton="false"
      cancelLabel="Отменить"
      accept="image/*"
      maxFileSize="10000000"
      mode="advanced"
      fileLimit="10"
      invalidFileLimitMessageSummary="Максимум 10 картинок"
      invalidFileLimitMessageDetail=""
    />
    <div>Максимум 10 картинок в формате jpeg, png или heic</div>
  </div>

  <div class="field">
    <label for="cost"> Цена <span class="field_required">*</span> </label>
    <p-inputNumber
      formControlName="cost"
      inputId="cost"
      mode="currency"
      currency="RUB"
      locale="ru-RU"
      placeholder="0 ₽"
    />
  </div>
  <div class="field">
    <label for="email"> Электорнная почта </label>
    <input
      id="email"
      formControlName="email"
      pInputText
      placeholder="Ввидети адрес электронной почты"
    />
  </div>
  <div class="field">
    <label for="phone">
      Номер телефона <span class="field_required">*</span>
    </label>
    <p-inputmask
      mask="+7 (999) 999-99-99"
      id="phone"
      formControlName="phone"
      placeholder="Введите номер телефона"
    />
  </div>

  <p-button label="Разместить объявление" type="submit" />
</form>
