<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="login-form">
    <div class="login-form__inputs">
      <div class="login-form__inputs-wrapper">
        <input
          type="text"
          pInputText
          formControlName="login"
          placeholder="Логин"
        />
        @if (
          loginForm.get("login")?.invalid &&
          (loginForm.get("login")?.touched || loginForm.get("login")?.dirty)
        ) {
          @if (loginForm.get("login")?.hasError("required")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Обязательное поле!
            </p-message>
          }
          @if (loginForm.get("login")?.hasError?.("minlength")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Минимальная длина 4 символа!
            </p-message>
          }
          @if (loginForm.get("login")?.hasError?.("maxlength")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Маскимальная длина 64 символа!
            </p-message>
          }
        }
      </div>
      <div class="login-form__inputs-wrapper">
        <p-password
          formControlName="password"
          placeholder="Пароль"
          [toggleMask]="true"
          [feedback]="false"
        />
        @if (
          loginForm.get("password")?.invalid &&
          (loginForm.get("password")?.touched ||
            loginForm.get("password")?.dirty)
        ) {
          @if (loginForm.get("password")?.hasError("required")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Обязательное поле!
            </p-message>
          }
          @if (loginForm.get("password")?.hasError?.("minlength")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Минимальная длина 8 символа!
            </p-message>
          }
          @if (loginForm.get("password")?.hasError?.("maxlength")) {
            <p-message
              severity="error"
              variant="simple"
              size="small"
              class="login-form__error-message"
            >
              Маскимальная длина 50 символа!
            </p-message>
          }
        }
      </div>
    </div>
    <p-button
      label="Войти"
      type="submit"
      class="login-form__submit-button"
      [disabled]="loginForm.invalid"
      [loading]="isLoading()"
    />
  </div>
</form>
