<form [formGroup]="updateUserForm" (ngSubmit)="submitUpdateProfile()">
  <div class="update-form">
    <div class="update-form__inputs">
      <div class="update-form__inputs-wrapper">
        <label for="name">
          Имя
          <span class="update-form_required">
            @if (isEdit()) {
              *
            }
          </span>
        </label>
        <app-validation-message>
          <input
            id="name"
            pInputText
            formControlName="name"
            placeholder="Имя"
            [disabled]="true"
          />
        </app-validation-message>
      </div>
      <div class="update-form__inputs-wrapper">
        <label for="login">
          Логин
          <span class="update-form_required">
            @if (isEdit()) {
              *
            }
          </span>
        </label>
        <app-validation-message>
          <input
            id="login"
            type="text"
            pInputText
            formControlName="login"
            placeholder="Логин"
          />
        </app-validation-message>
      </div>
      @if (isEdit()) {
        <div class="update-form__inputs-wrapper">
          <label for="passwordNew">
            Новый пароль
            <span class="update-form_required"> * </span>
          </label>
          <app-validation-message>
            <p-password
              id="passwordNew"
              formControlName="passwordNew"
              placeholder="Новый пароль"
              [toggleMask]="true"
              [feedback]="false"
            />
          </app-validation-message>
        </div>
        <div class="update-form__inputs-wrapper">
          <label for="passwordRepeat">
            Повторите пароль <span class="update-form_required">*</span>
          </label>
          <app-validation-message>
            <p-password
              id="passwordRepeat"
              formControlName="passwordRepeat"
              placeholder="Повторите пароль"
              [toggleMask]="true"
              [feedback]="false"
            />
          </app-validation-message>
          @if (updateUserForm.errors?.["isEqual"]) {
            <p-message severity="error" variant="simple" size="small">
              Пароли не совпадают!
            </p-message>
          }
        </div>
      }
    </div>

    <div class="edit-button-wrapper">
      @if (isEdit()) {
        <p-button
          label="Сохранить"
          type="submit"
          class="update-form__submit-button"
          [disabled]="updateUserForm.invalid"
          size="small"
          icon="pi pi-save"
          iconPos="right"
          [loading]="isSubmitLoading()"
        />

        <p-button
          label="Отменить"
          (click)="onCancel()"
          size="small"
          severity="secondary"
          icon="pi pi-times"
          iconPos="right"
          [disabled]="isSubmitLoading()"
        />
      } @else {
        <div class="edit-button-wrapper">
          <p-button
            label="Редактировать"
            (click)="onEdit()"
            icon="pi pi-pencil"
            iconPos="right"
            size="small"
            class="edit-button"
          />
        </div>
      }
    </div>
  </div>
</form>
