@use "mixins" as media;

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 856px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__caregory {
    width: 416px
  }

  &__description {
    height: 168px;
    resize: none
  }

  &__image {
    display: flex;
    gap: 10px;

    ::ng-deep {
      .p-component {
        border: none;

        .p-fileupload-header {
          background-color: var(--light);
        }
      }
      .p-fileupload-content {
        padding: 0;
      }
      .p-fileupload-header {}
    }

    div {
      height: 64px;
      display: flex;
      align-items: center;
    }

    @include media.media-mobile-sm {
      flex-direction: column;
    }

  }
  &__exist-image-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &_required {
    color: var(--danger-500);
    font:var(--T2)
  }
}


.loader-wrapper {
  display: flex;
  height: calc(100vh - 290px);
  align-items: center;
}

.button-action-wrapper {
  display: flex;
  gap: 4px;
}
