:root {
  // Base colors
  --default: var(--p-slate-800);
  --primary: var(--p-blue-500);
  --base-white: #fff;

  // Colors
  --blue-gray-200: var(--p-slate-200);
  --blue-gray-300: var(--p-slate-300);
  --blue-gray-500: var(--p-slate-500);
  --danger-500: var(--p-red-500);

  --success: var(--p-green-500);

  // Derived color
  --forms-border: var(--default);
}
